/*
===================================
Resets (box-sizing, normalize, etc.) 
===================================
*/

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/* Global variables such as colors , sizes, etc */
:root {
    /* Colors */
    --color-white: #FFFFFF;
    --color-white-smoke: #F5F5F5;
    --color-iron: #D6D6D1;
    --color-aluminium: #ACACAC;
    --color-amaranth: #EF3038;
    --color-scarlet: #B31B1B;
    --color-tabasco: #A4161A;
    --color-rosewood: #660708;
    --color-mirage: #161A1D;
    --color-night: #0B090A;
    --color-facebook: #316FF6;
    --color-instagram: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    --color-youtube: #FF0000;

    /* Fonts */
    --main-font: 'Kreon', serif;
    --body-font: 'Ubuntu', sans-serif;
}
/* End of global variables */

body {
    height: 100vh;
    background: var(--color-white);
    font-family: var(--body-font);
    font-size: 16px;
}
.center {
    text-align: center;
}

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}

/* NAV BAR STYLING */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
    background: var(--color-aluminium);
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 45%;
}

.logo img {
    width: 3rem;
    border: 4px solid var(--color-night);
    border-radius: 50%;
}

.logo p {
    font-size: 2rem;
    color: var(--color-white-smoke);
    padding-left: 5px;
}

ul {
    list-style: none;
}

ul li {
    display:inline-flex;
    flex-direction:row;
}

ul li a {
    text-decoration: none;
    color: var(--color-night);
    padding: 8px 30px;
    border-radius: 7px;
    transition: all .3s ease;
}

ul li a:hover, ul li a.active {
    color: var(--color-white);
    background: var(--color-tabasco);
}

/* END  OF NAV BAR STYLING */

.about-me {
    max-width: 60vw;
    margin: 20px auto 20px;
}
.about-me h1 {
    margin: 5px 0 0 0;
}
.about-me #tagline {
    font-size: 0.875rem;
    font-style: italic;
    margin-bottom: 10px;
}
.about-me p {
    display: flex;
    justify-content: center;
    align-content: center;
    text-wrap: balanced;
    line-height: 2rem;
}


#icon {
    background-color: var(--color-tabasco);
    padding: 5px 7px 3px 7px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease;
}

#icon svg {
    color: var(--color-white);
    height: 28px;
    transition: all .3s ease;
}

#icon:hover {
    background: var(--color-white);
}

#icon:hover svg {
    color: var(--color-tobasco);
}

#checkbox,
#icon {
    display: none;
}

/* SOCIAL ICON BAR*/
.sticky-icon  {
	z-index:1;
	position:fixed;
	top:15%;
	right:0%;
	width:220px;
	display:flex;
	flex-direction:column;}  
.sticky-icon a  {
	transform:translate(160px,0px);
	border-radius:50px 0px 0px 50px;
	text-align:left;
	margin:2px;
	text-decoration:none;
	text-transform:uppercase;
	padding:10px;
	font-size:22px;
	font-family:'Oswald', sans-serif;
	transition:all 0.8s;}
.sticky-icon a:hover  {
	color:var(--color-white);
	transform:translate(0px,0px);}	
.sticky-icon a:hover i  {
	transform:rotate(360deg);}
/*.search_icon a:hover i  {
	transform:rotate(360deg);}*/

.Instagram  {
	background-color:var(--color-night);
	color:var(--color-white);}
.Instagram:hover {
    background-color:#FD1D1D;
}
.TikTok  {
	background-color:var(--color-night);
	color:var(--color-white);}
.TikTok:hover {
    background-color:var(--color-night);
}    						
.Facebook  {
	background-color:var(--color-night);
	color:var(--color-white);}
.Facebook:hover{
    background-color:var(--color-facebook);
}	
.Youtube  {
	background-color:var(--color-night);
	color:var(--color-white);}
.Youtube:hover{
    background-color: var(--color-youtube);
}

.sticky-icon a i {
	background-color:var(--color-white);
	height:40px;
	width:40px;
	color:#000;
	text-align:center;
	line-height:40px;
	border-radius:50%;
	margin-right:20px;
	transition:all 0.5s;}

.sticky-icon a i.fa-instagram  {
    background-color:var(--color-white);
    color:var(--color-night);}
.sticky-icon a i.fa-tiktok  {
	background-color:var(--color-white);
	color:var(--color-night);}
.sticky-icon a i.fa-facebook-f  {
    background-color:var(--color-white);
    color:var(--color-night);}
.sticky-icon a i.fa-youtube  {
    background-color:var(--color-white);
    color:var(--color-night);}        

.sticky-icon:hover a i.fa-instagram  {
    background-color: var(--color-white);
    color: var(--color-youtube);}
.sticky-icon:hover a i.fa-tiktok  {
    background-color:var(--color-white);
    color:var(--color-night);}
.sticky-icon:hover a i.fa-facebook-f  {
    background-color:var(--color-white);
    color: var(--color-facebook);}
.sticky-icon:hover a i.fa-youtube  {
    background-color:var(--color-white);
    color: var(--color-youtube);}

/* .fas fa-shopping-cart  {
	background-color:#FFF;}	 */

#myBtn {
    height:50px;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    text-align:center;
    padding:10px;
    text-align:center;
    line-height:40px;
    border: none;
    outline: none;
    background-color: var(--color-rosewood);
    color: var(--color-white);
    cursor: pointer;
    border-radius: 50%;
}
.fa-arrow-circle-up  {
	font-size:30px;}

#myBtn:hover {
    background-color: #555;
}

@media screen and (max-width: 768px) {
    .sticky-icon {
        display: none;
    }
    nav {
        border-bottom: 1px solid #455468;
    }

    ul {
        position: absolute;
        width: 100%;
        /* height: calc(100vh - 71px); */
        background-color: var(--color-aluminium);
        left: 0;
        top: 10%;
        text-align: center;
        display: none;
        margin-top: 71px;
        border: 5px solid var(--color-mirage);
        border-radius: 20px;
    }

    ul li {
        display: block;
        padding: 10px 15px;
    }

    ul li a {
        display: block;
        padding: 10px 0;
        border-radius: 10px;
    }

    #icon {
        display: block;
    }

    #checkbox:checked~ul {
        display: block;
    }
}
